body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: demo.\A        Load paths:\A          /home/bhennequiere/alternance/H42N42Final/h42n42/static/css\A          /home/bhennequiere/alternance/H42N42Final/h42n42/sass/lib\A          /home/bhennequiere/alternance/H42N42Final/h42n42/static/css\A         on line 14 of sass/h42n42.scss\A \A 9: @import \"ot_popup.css\";\A 10: @import \"ot_spinner.css\";\A 11: @import \"ot_page_transition.css\";\A 12: @import \"ot_tongue.css\";\A 13: @import \"os\";\A 14: @import \"demo\";"; }
